@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $light-gray;
  font-family: 'Outfit', sans-serif;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 225px;
  min-width: 225px;
  background-color: $white;
  border-radius: 8px;
  padding: 10px;
  img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  p{
    text-align: center;
    margin: 10px;
    &.first{
        font-weight: 700;
        font-size: 15px;
        color: $dark-blue;
    }
    &.second{
        font-weight: 500;
        font-size: 12px;
        color: $grayish-blue;
    }
  }

}
@media (max-width:800px){
main{
    width: 350px;
    padding: 15px;
    p{
        &.first{
            font-size: 25px;
        }
        &.second{
            font-size: 20px;
        }
    }
}
}